.weather-card {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 330px;

	border-radius: 0 0 4px 4px;
	background: linear-gradient(to bottom, #41295a, #2f0743);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);

	font-size: 1.1rem;
}

.weather-card__icon-container {
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: center;

	width: 50%;
}

.weather-card__icon {
	margin-bottom: 20px;
}

.weather-card__title {
	font-size: 2rem;
	font-weight: 100;
}

.weather-card__status {
	font-weight: 200;
}

.weather-card__city-container {
	width: 50%;
}

.weather-card__temp {
	margin-bottom: 20px;

	font-size: 5rem;
	font-weight: 300;
}

.weather-card__city {
	margin-bottom: 15px;

	font-size: 1.5rem;
	font-weight: 300;
}

.spinner {
	display: inline-block;

	width: 6rem;
	height: 6rem;

	animation: loading 1.2s infinite linear;

	border-top: 4px solid #ffffff;
	border-right: 4px solid #ffffff;
	border-bottom: 4px solid #777777;
	border-left: 4px solid #777777;
	border-radius: 50%;
	background: transparent;
}

@keyframes loading {
	to {
		transform: rotate(360deg);
	}
}
